.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  background-color: white;
  padding: 2rem;
  margin-top: 5vh;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(119, 235, 253, 0.559);
  backdrop-filter: blur(15px);
  background: rgb(255, 255, 255);
  
}

.form {
  width: 100%;
  margin: 0 auto;
}
