.models-container {
  text-align: center;
  padding: 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  grid-gap: 2rem;
  padding: var(--size-20);
}
