.MuiTabs-flexContainer,.t
{
    display: flex;
    justify-content: space-around;
    color: white;
}
.MuiTabs-flexContainer{
    background-color: rgb(14, 19, 56);
}
.t{
    padding: 0 10px;
}
button.MuiButtonBase-root{
    color:white
}
button.MuiButtonBase-root:hover{
    color:rgb(168, 48, 48)
}
button.MuiButtonBase-root:focus{
    color:rgb(168, 48, 48)
}